{% extends "admin.html" %}

{% block admin %}
<div class="center">
    <h1>{{ fluent(key="edit-user-headline", lang=user.language, username=user.username) }}
    </h1>
    <form action="" method="POST">
        <div>
            <label for="username">{{ fluent(key="username", lang=user.language)
                }}:</label>
            <input type="text" name="username" value="{{ user.username }}">
        </div>
        <div>
            <label for="email">{{ fluent(key="email", lang=user.language)
                }}:</label>
            <input type="email" name="email" value="{{ user.email }}">
        </div>
        <div>
            <label for="password">{{ fluent(key="password", lang=user.language)
                }}:</label>
            <input type="password" name="password" placeholder='{{ fluent(key="password-placeholder", lang=user.language)
        }}'>
        </div>
        <input type="submit" value='{{ fluent(key="save-user", lang=user.language)
    }}'>
    </form>
    <h2>&nbsp;</h2>
</div>
{% endblock %}