{% extends "base.html" %}

{% block content %}
<div class="center">
    <form action="" method="POST">
        <div>
            <label for="username">{{ fluent(key="username", lang=language)
                }}:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label for="password">{{ fluent(key="password", lang=language)
                }}:</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value='{{ fluent(key="login", lang=language) }}'>
    </form>
    <h2>&nbsp;</h2>
</div>
{% endblock %}