{% extends "admin.html" %}

{% block admin %}
<div class="center">
    <h1>{{ fluent(key="user-headline", lang=user.language, username=user.username) }}</h1>
    <form action="" method="POST">
        <div>
            <label for="username">{{ fluent(key="username", lang=user.language)
                }}:</label>
            <input type="text" name="username" value="{{ viewed_user.username }}" readonly>
        </div>
        <div>
            <label for="email">{{ fluent(key="email", lang=user.language)
                }}:</label>
            <input type="email" name="email" value="{{ viewed_user.email }}" readonly>
        </div>
        {% if user.role == 2 or user.id == viewed_user.id %}
        <div>
            <label for="password">{{ fluent(key="password", lang=user.language)
                }}:</label>
            <input type="password" name="password" value="verschlüsselt" readonly>
        </div>
        {% endif %}
    </form>
    {% if user.role == 2 or user.id == viewed_user.id %}
    <div class="actions">
        <a class="button" href="/admin/edit/profile/{{ viewed_user.id }}">{{ fluent(key="edit-user", lang=user.language)
            }}</a>
        {% if user.role == 2 and viewed_user.role == 1 %}
        <a class="button" href="/admin/edit/set_admin/{{ viewed_user.id }}">{{ fluent(key="make-user-admin",
            lang=user.language)
            }}</a>
        {% endif %}
        {% if user.role == 2 and viewed_user.role == 2 and not user.id == viewed_user.id %}
        <a class="button" href="/admin/edit/set_admin/{{ viewed_user.id }}">{{ fluent(key="make-user-regular",
            lang=user.language)
            }}</a>
        {% endif %}
    </div>
    {% endif %}
    <h2>&nbsp;</h2>
</div>
{% endblock %}