

form {
    width: 100%;
}
.center {
  width: 800px;
  height: 600px;
  margin-left: -400px;
  margin-top: -300px;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
} 

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:100%;
  }

nav li a, nav li div.willkommen {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li {
    float: left;
  }
nav li a:hover {
    background-color: #111;
  }

nav li {
    border-right: 1px solid #bbb;
  }
  
nav li:last-child {
    border-right: none;
  }
svg {
  width: 100px;
  height: 100px;
}

div.actions {
  margin-left:5px;
  display: flex;
  width:100%;
  align-items: center;
  padding: 10px;
  color: #333;
  flex-flow: row wrap;
  justify-content: center;
}

div.danger {
  background-color: rgb(235, 127, 77);
  font-size: smaller;
  border: 2px solid crimson;
}

div.danger h3 {
  width:100%;
}

a.button, div.actions input {
  width: 250px;
  display:block;
  padding: 15px;
  margin-left: 15px;
  text-align: center;
  border-radius: 1px;
  border: 1px solid rgb(90, 90, 90);
  font-family: inherit;
  background-color: #eae9ea;
}