{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/admin.css">
{% block head2 %}
{% endblock %}
{% endblock %}


{% block content %}
<div class="admin">
    <nav>
        <ol>
            <li><a href="/admin/index/">{{ fluent(key="list-links", lang=user.language) }}</a>
            </li>
            <li><a href="/admin/submit/">{{ fluent(key="add-link", lang=user.language) }}</a></li>
            {% if user.role == 2 %}<li><a href="/admin/signup/">{{ fluent(key="invite-user", lang=user.language) }}</a>
            </li>
            <li><a href="/admin/view/users/">{{ fluent(key="list-users", lang=user.language) }}</a></li>{% endif %}
            <li style="float:right"><a href="/admin/logout/">{{ fluent(key="logout", lang=user.language) }}</a></li>
            <li style="float:right">
                <div class="willkommen">{{ fluent(key="welcome-user", lang=user.language, username=user.username) }}
                </div>
            </li>
            <li style="float:right"><a href="/admin/edit/set_language/en">en</a></li>
            <li style="float:right"><a href="/admin/edit/set_language/de">de</a></li>
        </ol>
    </nav>
    {% block admin %}
    {% endblock %}
</div>
{% endblock %}