{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/admin.css">
{% block head2 %}
{% endblock %}
{% endblock %}


{% block content %}
<div class="admin">
    <nav>
        <ol>
            <li><a href="/admin/index/">Link Liste</a></li>
            <li><a href="/admin/submit/">Link Hinzufügen</a></li>
            {% if user.role == 2 %}<li><a href="/admin/signup/">Einladen</a></li>
            <li><a href="/admin/view/users/">Benutzer</a></li>{% endif %}
            <li style="float:right"><a href="/admin/logout/">Abmelden</a></li>
            <li style="float:right">
                <div class="willkommen">Herzlich willkommen {{ user.username }}</div>
            </li>
        </ol>
    </nav>
    {% block admin %}
    {% endblock %}
</div>
{% endblock %}