{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/admin.css">
{% block head2 %}
{% endblock %}
{% endblock %}


{% block content %}
<div class="admin">
    <nav>
        <ol>
            <li><a href="/admin/index/">Liste</a></li>
            <li><a href="/admin/submit/">Hinzufügen</a></li>
            <li><a href="/admin/signup/">Einladen</a></li>
            <li><a href="/admin/view/users/">Benutzer</a></li>
            <li style="float:right"><a href="/admin/logout/">Abmelden</a></li>
            <li style="float:right">
                <div class="willkommen">Herzlich willkommen {{ name }}</div>
            </li>
        </ol>
    </nav>
    <div class="center">
        {% block admin %}
        {% endblock %}
    </div>
</div>
{% endblock %}