{% extends "admin.html" %}

{% block admin %}
<div class="center">
    <h1>Link Editieren: {{ link.title }}</h1>
    <form action="" method="POST">
        <div>
            <label for="title">Beschreibung:</label>
            <input type="text" name="title" value="{{ link.title }}">
        </div>
        <div>
            <label for="target">Ziel:</label>
            <input type="text" name="target" value="{{link.target}}">
        </div>
        <div>
            <label for="code">Code:</label>
            <input type="text" name="code" value="{{link.code}}">
        </div>
        <div class="actions danger">
            <h2>Achtung!</h2>
            <h3>Werden schon veröffentlichte Links gelöscht oder editiert sind die Links z.B. aus einem Buch
                nicht mehr gültig! UNBEDINGT VERMEIDEN!</h3>
            <input type="submit" value="Speichern">
            <a class="button" href="/admin/delete/link/{{link.code}}">Delete</a>
        </div>
    </form>
</div>
{% endblock %}