{% extends "admin.html" %}

{% block admin %}
<table>
    {% for links_user in links_per_users %}
    {% set l = links_user[0] %}
    {% set u = links_user[1] %}
    <tr>
        <td>
            <a href="/admin/view/{{l.code}}"><span>{{l.code}}:</span>
            </a>
        </td>
        <td>
            <a href="/admin/view/{{l.code}}">{{ l.target }}
            </a>
        </td>
        <td>

            <a href="/admin/view/{{l.code}}"><small>{{ u.username }}</small>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}