{% extends "admin.html" %}


{% block head2 %}
<script src="/static/sorttable.js"></script>
{% endblock %}

{% block admin %}
<div class="scrollable">
    <table class="sortable">

        <tr>
            <th>
                Kürzel
            </th>
            <th>
                Emailadresse
            </th>
            <th>
                Benutzername
            </th>
        </tr>
        {% for user in users %}
        <tr>
            <td>
                <a href="/admin/view/profile/{{user.id}}"><span>{{user.id}}</span>
                </a>
            </td>
            <td>
                <a href="/admin/view/profile/{{user.id}}">{{ user.email }}
                </a>
            </td>
            <td>

                <a href="/admin/view/profile/{{user.id}}"><small>{{ user.username }}</small>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}