{% extends "admin.html" %}

{% block admin %}
<h1>Profil von {{user.username}}</h1>
<form action="" method="POST">
    <div>
        <label for="username">Benutzername:</label>
        <input type="text" name="username" value="{{ user.username }}" readonly>
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" value="{{ user.email }}" readonly>
    </div>
    <div>
        <label for="password">Passwort:</label>
        <input type="password" name="password" value="verschlüsselt" readonly>
    </div>
</form>
<div class="actions">
    <a class="button" href="/admin/edit/profile/{{ user.id }}">Editieren</a>
</div>
<h2>&nbsp;</h2>
{% endblock %}